@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.banner-wrapper {
  text-align: center;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.927);
}

.banner-slug {
  font-family: 'Roboto Condensed';
  color: #fff;
}

@media (max-width: 400px) {
  .banner-slug h1 {
    font-size: 3em;
    line-height: 1;
  }
}

@media (min-width: 401px) and (max-width: 767px) {
  .banner-slug h1 {
    font-size: 4em;
    line-height: 1;
  }

  .banner-slug p {
    font-size: 1.4em;
  }
}

@media (min-width: 768px) {
  .banner-slug {
    text-align: right;
  }

  .banner-slug h1 {
    font-size: 6em;
  }

  .banner-slug p {
    font-size: 1.8em;
    margin-right: 1em;
    animation-name: myAnimation;
    animation-duration: 3s;
  }

  @keyframes myAnimation {
    0% {
      opacity: 0;
      transform: translate(-4em);
    }
    25% {
      opacity: 0.25;
    }
    50% {
      opacity: 0.5;
    }
    75% {
      opacity: 0.75;
    }
    100% {
      opacity: 1;
    }
  }
}
